In [1]:
import re
import pandas as pd
import numpy as np
import seaborn as sns
import datetime
import matplotlib.pyplot as plt
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import make_scorer, accuracy_score
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [16]:
df = pd.read_csv('kiva_loans_20181016.csv')
print(len(df))
# df = df.sample(n=round(len(df)*.2))
# print(len(df))
df = df.loc[df.status==0].append(df.loc[df.status==1].sample(len(df.loc[df.status==0])))
df.status.value_counts()

671205

1    48328
0    48328
Name: status, dtype: int64

In [17]:
# Convert to datetime type
# df['date'] = pd.to_datetime(df['date'])

df['date'] = pd.to_datetime(df['date'])
df['newdate'] = [d.date() for d in df['date']]

In [18]:
# Convert to String and then to int

df['year'] = df['newdate'].apply(lambda date: str(date).split('-')[0]).astype(str).astype(int)
df['month'] = df['newdate'].apply(lambda date: str(date).split('-')[1]).astype(str).astype(int)
df['day_of_month'] = df['newdate'].apply(lambda date: str(date).split('-')[2]).astype(str).astype(int)
df['weekday'] = df['date'].dt.day_name()

In [19]:
df.head(2)

,id,date,activity,sector,use,funded_amount,loan_amount,diff_funded_loan,status,country_code,...,borrower_genders,lender_count,term_in_months,repayment_interval,tags,newdate,year,month,day_of_month,weekday
87,653261,2014-01-02,Personal Housing Expenses,Housing,"to pave the ground and repair the ceiling, to ...",4275,5000,-725,0,PS,...,male,58,39,monthly,"#Supporting Family, #Interesting Photo, user_f...",2014-01-02,2014,1,2,Thursday
112,653256,2014-01-02,Electronics Repair,Services,to pay the annual rent for his shop,1925,2400,-475,0,IQ,...,male,41,15,monthly,"#Single, #Supporting Family, #Eco-friendly, us...",2014-01-02,2014,1,2,Thursday

In [20]:
days = {'Monday':'Mon','Tuesday':'Tue','Wednesday':'Wed','Thursday':'Thu','Friday':'Fri','Saturday':'Sat','Sunday':'Sun'}
df['weekday_short'] = df['weekday'].apply(lambda x: days[x])

In [21]:
df.head(2)

,id,date,activity,sector,use,funded_amount,loan_amount,diff_funded_loan,status,country_code,...,lender_count,term_in_months,repayment_interval,tags,newdate,year,month,day_of_month,weekday,weekday_short
87,653261,2014-01-02,Personal Housing Expenses,Housing,"to pave the ground and repair the ceiling, to ...",4275,5000,-725,0,PS,...,58,39,monthly,"#Supporting Family, #Interesting Photo, user_f...",2014-01-02,2014,1,2,Thursday,Thu
112,653256,2014-01-02,Electronics Repair,Services,to pay the annual rent for his shop,1925,2400,-475,0,IQ,...,41,15,monthly,"#Single, #Supporting Family, #Eco-friendly, us...",2014-01-02,2014,1,2,Thursday,Thu

In [22]:
df.year.value_counts()

2016    28948
2015    26628
2014    22429
2017    18651
Name: year, dtype: int64

In [23]:
df.shape

(96656, 24)

In [24]:
df.status.value_counts()

1    48328
0    48328
Name: status, dtype: int64

In [25]:
df.dtypes

id                             int64
date                  datetime64[ns]
activity                      object
sector                        object
use                           object
funded_amount                  int64
loan_amount                    int64
diff_funded_loan               int64
status                         int64
country_code                  object
country                       object
currency                      object
gender                        object
borrower_genders              object
lender_count                   int64
term_in_months                 int64
repayment_interval            object
tags                          object
newdate                       object
year                           int64
month                          int64
day_of_month                   int64
weekday                       object
weekday_short                 object
dtype: object

In [26]:
df.isnull().sum()

id                        0
date                      0
activity                  0
sector                    0
use                     986
funded_amount             0
loan_amount               0
diff_funded_loan          0
status                    0
country_code              1
country                   0
currency                  0
gender                  979
borrower_genders        979
lender_count              0
term_in_months            0
repayment_interval        0
tags                  16325
newdate                   0
year                      0
month                     0
day_of_month              0
weekday                   0
weekday_short             0
dtype: int64

In [27]:
df1 = df[['status','funded_amount', 'loan_amount', 'activity', 'sector',  'country',
         'currency','gender','term_in_months']]

In [28]:
df1.head(2)

,status,funded_amount,loan_amount,activity,sector,country,currency,gender,term_in_months
87,0,4275,5000,Personal Housing Expenses,Housing,Palestine,USD,male,39
112,0,1925,2400,Electronics Repair,Services,Iraq,USD,male,15

In [29]:
df2 = df1.dropna()
df2 = df2.drop(['term_in_months', 'currency'], axis=1)
df2.head()

,status,funded_amount,loan_amount,activity,sector,country,gender
87,0,4275,5000,Personal Housing Expenses,Housing,Palestine,male
112,0,1925,2400,Electronics Repair,Services,Iraq,male
186,0,2625,3000,Grocery Store,Food,Iraq,male
309,0,2750,3000,Grocery Store,Food,Iraq,male
313,0,1300,3000,Clothing,Clothing,Palestine,female

In [30]:
df2.shape

(95677, 7)

In [31]:
# Use Pandas get_dummies to convert categorical data

df2 = pd.get_dummies(df2)
df2.head()

,status,funded_amount,loan_amount,activity_Agriculture,activity_Air Conditioning,activity_Animal Sales,activity_Aquaculture,activity_Arts,activity_Auto Repair,activity_Bakery,...,country_Ukraine,country_United States,country_Vietnam,country_Virgin Islands,country_Yemen,country_Zambia,country_Zimbabwe,gender_female,gender_group,gender_male
87,0,4275,5000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
112,0,1925,2400,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
186,0,2625,3000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
309,0,2750,3000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
313,0,1300,3000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [32]:
df2.shape

(95677, 260)

In [33]:
X = df2.drop(['status', 'loan_amount', 'funded_amount'], axis=1)
feature_names = X.columns
y = df2['status']

# The Random Forest Model

In [35]:
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

rf = RandomForestClassifier(n_estimators=200, n_jobs=-1)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.7433110367892977

In [26]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.09079769135206572, 'gender_male'),
 (0.06262530784125878, 'country_United States'),
 (0.06162372799089651, 'gender_female'),
 (0.052312384115254386, 'country_El Salvador'),
 (0.04670403888863496, 'country_Philippines'),
 (0.03915413436980257, 'country_Colombia'),
 (0.02779212310505279, 'country_Armenia'),
 (0.016501078626800197, 'sector_Retail'),
 (0.016499561958401257, 'gender_group'),
 (0.014824230669341652, 'country_Pakistan'),
 (0.013011377253453906, 'country_Vietnam'),
 (0.01235706055919542, 'country_Peru'),
 (0.011162358718346825, 'sector_Education'),
 (0.010928438732104664, 'country_Bolivia'),
 (0.010888576178941773, 'country_Tajikistan'),
 (0.010119034342915934, 'sector_Agriculture'),
 (0.009940617092462632, 'country_Uganda'),
 (0.009857483362011825, 'activity_General Store'),
 (0.009710672001009892, 'country_Kenya'),
 (0.009662956615485344, 'country_Palestine'),
 (0.008666735354866815, 'sector_Housing'),
 (0.00796080723094962, 'country_Cambodia'),
 (0.00786507796188509, 'country_Nicaragua'),
 (0.00773114780032166, 'activity_Home Appliances'),
 (0.007556216484588336, 'activity_Farming'),
 (0.007256121934599855, 'sector_Personal Use'),
 (0.007166591675473361, 'activity_Personal Housing Expenses'),
 (0.006890667058423839, 'country_Indonesia'),
 (0.006710185432197278, 'country_Paraguay'),
 (0.006444918114621096, 'country_Lebanon'),
 (0.006265376861795885, 'country_Rwanda'),
 (0.006187318256131442, 'activity_Services'),
 (0.006119048753041577, 'activity_Clothing Sales'),
 (0.006049909154071895, 'sector_Food'),
 (0.0059794344869010686, 'sector_Manufacturing'),
 (0.0057886054913296025, 'country_India'),
 (0.005648085254659583, 'country_Myanmar (Burma)'),
 (0.005456323544458591, 'country_Samoa'),
 (0.005268610250552942, 'sector_Arts'),
 (0.005223241832307328, 'activity_Retail'),
 (0.005100396103604699, 'activity_Grocery Store'),
 (0.004998453257891183, 'sector_Clothing'),
 (0.004897556907427183, 'country_Ecuador'),
 (0.004812283171266342, 'country_Honduras'),
 (0.004674739304218368, 'country_Guatemala'),
 (0.0045612882866669, 'sector_Services'),
 (0.004518672492121812, 'country_Mali'),
 (0.004455682295340093, 'country_Mexico'),
 (0.004302611281579849, 'activity_Higher education costs'),
 (0.004285535615641126, 'activity_Beauty Salon'),
 (0.004233517419885508, 'activity_Agriculture'),
 (0.004144224896279726, 'sector_Transportation'),
 (0.0040783550169136125, 'activity_Personal Expenses'),
 (0.0040257175776703714, 'country_Azerbaijan'),
 (0.003983004836884124, 'country_Senegal'),
 (0.003924634912756778, 'activity_Pigs'),
 (0.003906271608872048, 'activity_Livestock'),
 (0.0038839092947781035, 'country_Kyrgyzstan'),
 (0.0037953405388349653, 'activity_Technology'),
 (0.0037896071725979914, 'activity_Home Energy'),
 (0.0036357360266529725, 'activity_Home Products Sales'),
 (0.0035902931017615545, 'activity_Personal Products Sales'),
 (0.0035747247205733267, 'country_Tanzania'),
 (0.003517391135950506, 'activity_Food Production/Sales'),
 (0.003355934292475109, 'country_Albania'),
 (0.003335134386180151, 'sector_Health'),
 (0.0032971317573847973, 'country_Madagascar'),
 (0.0032759320114173684, 'activity_Cosmetics Sales'),
 (0.003257409157903739, 'country_Ghana'),
 (0.0031941742503274967, 'country_Jordan'),
 (0.0031799019168270042, 'country_Haiti'),
 (0.0031738252191325362, 'activity_Cattle'),
 (0.003110807973766513, 'country_Mozambique'),
 (0.003087513785230436, 'country_Kosovo'),
 (0.0030797063873774628, 'activity_Restaurant'),
 (0.003017646564843633, 'country_Yemen'),
 (0.00300319662687164, 'country_Sierra Leone'),
 (0.0029649069086161673, 'country_Cameroon'),
 (0.0029616602363456523, 'country_Georgia'),
 (0.002951523787766976, 'activity_Vehicle'),
 (0.0028834954945853113, 'activity_Food Market'),
 (0.0028820755367744404, 'activity_Sewing'),
 (0.0028777277839094045, 'activity_Phone Use Sales'),
 (0.0028170272437722656, 'sector_Construction'),
 (0.0027647875268634976, 'activity_Shoe Sales'),
 (0.002716764626798306, 'country_Egypt'),
 (0.002687564270027003, 'activity_Fruits & Vegetables'),
 (0.0026683305163427234, 'activity_Food'),
 (0.0025798990162560842, 'activity_Cereals'),
 (0.0025328149631755033, 'country_Costa Rica'),
 (0.002506973163196844, 'activity_Farm Supplies'),
 (0.0025026578252232306, 'activity_Poultry'),
 (0.002429892205191267, 'activity_Fish Selling'),
 (0.0024170051131425095, 'country_Togo'),
 (0.002414193688167748, 'country_Zimbabwe'),
 (0.0023530417112055026, 'activity_Animal Sales'),
 (0.0023346443699601024, 'activity_Hardware'),
 (0.00231370788373105, 'activity_Clothing'),
 (0.0023095192137239148, 'activity_Wedding Expenses'),
 (0.0023075675202234463, 'country_Timor-Leste'),
 (0.0022994814158841317, 'activity_Cafe'),
 (0.00228958177215615, 'activity_Butcher Shop'),
 (0.0022888552466566263, 'activity_Food Stall'),
 (0.002251519098178976, 'activity_Dairy'),
 (0.002240676582554563, 'activity_Bakery'),
 (0.002235159952777413, 'activity_Beverages'),
 (0.002201447906002076, 'activity_Mobile Phones'),
 (0.002126501143431538, 'activity_Electronics Sales'),
 (0.002118622528693847, 'country_Burkina Faso'),
 (0.0020558377254373834, 'country_The Democratic Republic of the Congo'),
 (0.0020155637653946753, 'activity_Auto Repair'),
 (0.002011345768745025, 'activity_Spare Parts'),
 (0.002007252900675209, 'activity_Tailoring'),
 (0.002000636819586614, 'activity_Phone Accessories'),
 (0.0019973372598423174, 'activity_Jewelry'),
 (0.0019959025992627613, 'activity_Transportation'),
 (0.0019950003273952184, 'activity_Personal Medical Expenses'),
 (0.0018246440311757812, 'activity_Fishing'),
 (0.001810501063784902, 'activity_Cloth & Dressmaking Supplies'),
 (0.0017914527479308796, 'country_Mongolia'),
 (0.001747360657162325, 'activity_Fuel/Firewood'),
 (0.0017129496861025256, 'country_Nigeria'),
 (0.0017014860494390634, 'activity_Vehicle Repairs'),
 (0.0016929189507669253, 'activity_Motorcycle Transport'),
 (0.00166809398505903, 'activity_Education provider'),
 (0.001650712309792601, 'activity_Taxi'),
 (0.0016153024879120874, 'activity_Crafts'),
 (0.0015101990188592961, 'activity_Barber Shop'),
 (0.0015060599979489912, 'activity_Pub'),
 (0.0014825460414112062, 'activity_Furniture Making'),
 (0.0014443640870998387, 'activity_Used Clothing'),
 (0.0014394213082490027, 'activity_Primary/secondary school costs'),
 (0.0014124017198817453, 'activity_Electrical Goods'),
 (0.001411672193618954, 'activity_Printing'),
 (0.001327972829048625, 'activity_Renewable Energy Products'),
 (0.0012820174768785853, 'activity_Construction'),
 (0.0012616887151075682, 'activity_Plastics Sales'),
 (0.0012555027107340661, 'activity_Property'),
 (0.0012317332064212825, 'activity_Consumer Goods'),
 (0.0012303188154422797, 'sector_Entertainment'),
 (0.0012172728470461664, 'activity_Photography'),
 (0.0011659662365054607, 'activity_Decorations Sales'),
 (0.0011539414737437173, 'country_Malawi'),
 (0.0011513791240975793, 'activity_Tourism'),
 (0.0011260177980475152, 'country_Moldova'),
 (0.0011160822472108943, 'activity_Milk Sales'),
 (0.0011078182142329157, 'activity_Charcoal Sales'),
 (0.0011036740733747768, 'activity_Mobile Transactions'),
 (0.001099664835528732, 'activity_Liquor Store / Off-License'),
 (0.0010758115090287513, 'activity_Recycled Materials'),
 (0.0010448884191755817, 'country_Liberia'),
 (0.0010346929233961504, 'activity_Bookstore'),
 (0.0010304464891643158, 'activity_Catering'),
 (0.0010241859604213067, 'activity_Entertainment'),
 (0.0010195151179722786, 'country_Iraq'),
 (0.0010017043881037988, 'activity_Construction Supplies'),
 (0.0009927585089132048, 'activity_Electrician'),
 (0.000990536960216665, 'activity_Office Supplies'),
 (0.0009774045946644959, 'country_Puerto Rico'),
 (0.000976388478070666, 'country_Ukraine'),
 (0.0009654072801275978, 'activity_Flowers'),
 (0.00096158834750866, 'activity_Communications'),
 (0.0009310108982963658, 'activity_Manufacturing'),
 (0.0009181291260436476, 'country_Zambia'),
 (0.000864818358636661, 'activity_Perfumes'),
 (0.000860360838063633, 'activity_Carpentry'),
 (0.0008456039983135254, 'activity_Internet Cafe'),
 (0.0008164718944015102, 'activity_Metal Shop'),
 (0.0008145511587545558, 'activity_Cobbler'),
 (0.0008072851610262333, 'country_Turkey'),
 (0.0008038789397253356, 'activity_Used Shoes'),
 (0.0007364188853556468, 'country_Burundi'),
 (0.0007244637678288186, 'activity_Rickshaw'),
 (0.0007141240477413913, 'activity_Health'),
 (0.0006979991789992697, 'activity_Motorcycle Repair'),
 (0.0006517376788751248, 'activity_Electronics Repair'),
 (0.0006487808456672245, 'activity_Traveling Sales'),
 (0.0006478925435018344, 'activity_Cheese Making'),
 (0.0006476759831252997, 'activity_Movie Tapes & DVDs'),
 (0.0006266485365886253, 'activity_Hotel'),
 (0.0006045328881371744, 'activity_Souvenir Sales'),
 (0.0005783623318213068, 'activity_Recycling'),
 (0.000571501312498261, 'activity_Computers'),
 (0.0005491236689771243, 'sector_Wholesale'),
 (0.000545573528971523, 'activity_Music Discs & Tapes'),
 (0.0005262514432258318, 'activity_Pharmacy'),
 (0.0005128996275134229, 'activity_Cleaning Services'),
 (0.0005057244657061183, 'activity_Paper Sales'),
 (0.0004885393782057132, 'activity_Water Distribution'),
 (0.0004696505876283672, 'activity_Arts'),
 (0.0004624485414653148, 'activity_Utilities'),
 (0.00044509900075421073, 'activity_Land Rental'),
 (0.000436950819936929, "country_Lao People's Democratic Republic"),
 (0.0004236290791403835, 'activity_Weaving'),
 (0.00042011941320877264, 'activity_Waste Management'),
 (0.0004003569318301263, 'activity_Bicycle Repair'),
 (0.000379181913653178, 'activity_Laundry'),
 (0.0003697361317955107, 'activity_Child Care'),
 (0.00036840230316899825, 'country_Benin'),
 (0.00036164157069721773, 'activity_Aquaculture'),
 (0.0003515278951623136, 'country_Panama'),
 (0.0003509897853358662, 'activity_Phone Repair'),
 (0.0003505899187666764, 'activity_Party Supplies'),
 (0.00034989874594675246, 'country_Suriname'),
 (0.0003458993318536839, 'country_China'),
 (0.00034589715284399534, 'country_South Africa'),
 (0.0003412868892560548, 'activity_Machinery Rental'),
 (0.00033951189073747295, 'activity_Upholstery'),
 (0.0003377923300671796, 'country_Virgin Islands'),
 (0.0003352616428966522, 'activity_Goods Distribution'),
 (0.00031835447806300923, 'activity_Cement'),
 (0.0003178851250633138, 'activity_Bicycle Sales'),
 (0.00031769170943439897, 'country_Solomon Islands'),
 (0.00031205280154153665, 'country_South Sudan'),
 (0.00031050440462858137, 'activity_Dental'),
 (0.00030459883489740414, 'activity_Natural Medicines'),
 (0.0003045548415720622, 'activity_Wholesale'),
 (0.0002923897499677824, 'activity_Florist'),
 (0.0002910905810105085, 'country_Dominican Republic'),
 (0.00029019315471552284, 'activity_Games'),
 (0.00028308766924205696, 'activity_Musical Performance'),
 (0.0002652115749992344, 'activity_Timber Sales'),
 (0.00026315460162338044, 'activity_Veterinary Sales'),
 (0.00024997847050919084, 'activity_Bricks'),
 (0.00024571802691552907, 'country_Brazil'),
 (0.0002411425507561799, 'activity_Energy'),
 (0.00022797536434903458, 'country_Belize'),
 (0.00021899258728590138, 'country_Nepal'),
 (0.0002142065363384299, 'activity_Landscaping / Gardening'),
 (0.0002064083002308425, 'activity_Medical Clinic'),
 (0.0001920935081340489, 'activity_Textiles'),
 (0.00017921647328306045, 'activity_Sporting Good Sales'),
 (0.0001579594501037746, 'country_Guam'),
 (0.0001571122358150094, 'country_Israel'),
 (0.0001544998767290579, 'activity_Blacksmith'),
 (0.00014694069790193242, 'activity_Beekeeping'),
 (0.00013744844306107953, 'activity_Embroidery'),
 (0.0001249075417040468, 'country_Congo'),
 (0.00011829055409156958, 'activity_Quarrying'),
 (0.00011333392571160533, 'country_Somalia'),
 (0.00010693137874646856, 'activity_Funerals'),
 (0.00010047563510538171, 'activity_Religious Articles'),
 (9.013481669229707e-05, 'activity_Secretarial Services'),
 (8.616512666286971e-05, 'country_Thailand'),
 (7.842397540885345e-05, 'country_Lesotho'),
 (7.387355284260041e-05, 'activity_Air Conditioning'),
 (7.057561316738538e-05, 'activity_Computer'),
 (6.226237171135981e-05, 'activity_Call Center'),
 (5.453754871005633e-05, 'activity_Bookbinding'),
 (5.310373469854426e-05, 'activity_Musical Instruments'),
 (3.907051213095618e-05, 'activity_Machine Shop'),
 (3.4837146504351265e-05, 'activity_Film'),
 (3.246174842676741e-05, 'activity_Knitting'),
 (3.121934226059684e-05, 'country_Saint Vincent and the Grenadines'),
 (2.9378713944889203e-05, 'activity_Well digging'),
 (2.1692242651519807e-05, 'activity_Balut-Making'),
 (1.1570723139239054e-05, 'activity_Celebrations'),
 (6.864151310329596e-06, 'activity_Event Planning'),
 (3.788304212956934e-06, 'country_Chile'),
 (2.167311114341909e-06, 'country_Namibia'),
 (1.9775635039666948e-06, 'activity_Adult Care'),
 (1.97529819722262e-06, 'activity_Personal Care Products'),
 (3.4355651369303303e-07, 'activity_Patchwork'),
 (2.8754270294713414e-07, 'country_Mauritania'),
 (1.386390083724135e-07, 'country_Vanuatu'),
 (6.10062757362948e-09, 'country_Bhutan'),
 (3.571605334068154e-09, 'country_Afghanistan'),
 (0.0, "country_Cote D'Ivoire")]

# 3 - The Random Forest Model Score

In [27]:
predictions = rf.predict(X_test)

In [28]:
from sklearn.metrics import classification_report
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.45      0.02      0.04     11975
           1       0.93      1.00      0.96    154771

   micro avg       0.93      0.93      0.93    166746
   macro avg       0.69      0.51      0.50    166746
weighted avg       0.89      0.93      0.90    166746

In [29]:
df4 = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

In [35]:
df4.head(10)

   Prediction  Actual
0           1       1
1           1       0
2           1       1
3           1       1
4           1       1
5           1       1
6           1       1
7           1       1
8           1       0
9           1       1

# Passing Real Time Feature Data for Testing on the Model.

In [49]:
inputs = {'country_India' : 1, 'gender_male' : 1, 'activity_Agriculture' : 1}

test = pd.Series(index=df2.columns)
for key in inputs.keys():
    test[key] = inputs[key]
    
test.fillna(0, inplace=True)

In [59]:
test1 = test.drop(['status','loan_amount', 'funded_amount'])

In [63]:
predictions = rf.predict_proba(test1.values.reshape(1, -1))

In [64]:
predictions

array([[0.19208871, 0.80791129]])