In [3]:
import re
import pandas as pd
import numpy as np
import seaborn as sns
import datetime
import matplotlib.pyplot as plt
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import make_scorer, accuracy_score
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [4]:
df = pd.read_csv('kiva_loans_20181016.csv')
df.head()

,id,date,activity,sector,use,funded_amount,loan_amount,diff_funded_loan,status,country_code,country,currency,gender,borrower_genders,lender_count,term_in_months,repayment_interval,tags
0,653051,1/1/14,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",300,300,0,1,PK,Pakistan,PKR,female,female,12,12,irregular,NaN
1,653053,1/1/14,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,575,575,0,1,PK,Pakistan,PKR,group,"female, female",14,11,irregular,NaN
2,653068,1/1/14,Transportation,Transportation,To repair their old cycle-van and buy another ...,150,150,0,1,IN,India,INR,female,female,6,43,bullet,"user_favorite, user_favorite"
3,653063,1/1/14,Embroidery,Arts,to purchase an embroidery machine and a variet...,200,200,0,1,PK,Pakistan,PKR,female,female,8,11,irregular,NaN
4,653084,1/1/14,Milk Sales,Food,to purchase one buffalo.,400,400,0,1,PK,Pakistan,PKR,female,female,16,14,monthly,NaN

In [5]:
df.shape

(671205, 18)

In [6]:
df.status.value_counts()

1    622877
0     48328
Name: status, dtype: int64

In [7]:
df.dtypes

id                     int64
date                  object
activity              object
sector                object
use                   object
funded_amount          int64
loan_amount            int64
diff_funded_loan       int64
status                 int64
country_code          object
country               object
currency              object
gender                object
borrower_genders      object
lender_count           int64
term_in_months         int64
repayment_interval    object
tags                  object
dtype: object

In [8]:
df.isnull().sum()

id                         0
date                       0
activity                   0
sector                     0
use                     4232
funded_amount              0
loan_amount                0
diff_funded_loan           0
status                     0
country_code               8
country                    0
currency                   0
gender                  4221
borrower_genders        4221
lender_count               0
term_in_months             0
repayment_interval         0
tags                  171416
dtype: int64

In [9]:
df1 = df[['status','funded_amount', 'loan_amount', 'activity', 'sector',  'country',
         'currency','gender','term_in_months']]

In [10]:
df1.head(2)

,status,funded_amount,loan_amount,activity,sector,country,currency,gender,term_in_months
0,1,300,300,Fruits & Vegetables,Food,Pakistan,PKR,female,12
1,1,575,575,Rickshaw,Transportation,Pakistan,PKR,group,11

In [11]:
df2 = df1.dropna()
df2 = df2.drop(['term_in_months', 'currency'], axis=1)
df2.head()

,status,funded_amount,loan_amount,activity,sector,country,gender
0,1,300,300,Fruits & Vegetables,Food,Pakistan,female
1,1,575,575,Rickshaw,Transportation,Pakistan,group
2,1,150,150,Transportation,Transportation,India,female
3,1,200,200,Embroidery,Arts,Pakistan,female
4,1,400,400,Milk Sales,Food,Pakistan,female

In [12]:
df2.shape

(666984, 7)

In [13]:
# Use Pandas get_dummies to convert categorical data

df2 = pd.get_dummies(df2)
df2.head()

,status,funded_amount,loan_amount,activity_Adult Care,activity_Agriculture,activity_Air Conditioning,activity_Animal Sales,activity_Aquaculture,activity_Arts,activity_Auto Repair,...,country_United States,country_Vanuatu,country_Vietnam,country_Virgin Islands,country_Yemen,country_Zambia,country_Zimbabwe,gender_female,gender_group,gender_male
0,1,300,300,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,575,575,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,1,150,150,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1,200,200,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,1,400,400,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [14]:
df2.shape

(666984, 271)

In [15]:
X = df2.drop(['status', 'loan_amount', 'funded_amount'], axis=1)
y = df2['status']

In [16]:
ss = StandardScaler()
lr = LogisticRegression()
lr_pipe = Pipeline([('sscale', ss), ('logreg', lr)])

In [17]:
lr_pipe.fit(X, y)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/preprocessing/data.py:617: DataConversionWarning: Data with input dtype uint8 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/base.py:465: DataConversionWarning: Data with input dtype uint8 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

Pipeline(memory=None,
     steps=[('sscale', StandardScaler(copy=True, with_mean=True, with_std=True)), ('logreg', LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False))])

In [18]:
lr_pipe.score(X,y)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/pipeline.py:511: DataConversionWarning: Data with input dtype uint8 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

0.9285485109088074

# Divide the dataset into separate training (80% of the data) and test (20% of the data) datasets.

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

# Chain the StandardScaler and Logistic Regression objects in a pipeline.

In [20]:
lr_pipe.fit(X_train, y_train)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/preprocessing/data.py:617: DataConversionWarning: Data with input dtype uint8 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/base.py:465: DataConversionWarning: Data with input dtype uint8 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)
/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

Pipeline(memory=None,
     steps=[('sscale', StandardScaler(copy=True, with_mean=True, with_std=True)), ('logreg', LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False))])

In [21]:
lr_pipe.score(X_test, y_test)  # prediction accuracy score

/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/pipeline.py:511: DataConversionWarning: Data with input dtype uint8 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

0.928454163137102

In [22]:
lr_pipe.score(X_train, y_train)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/pipeline.py:511: DataConversionWarning: Data with input dtype uint8 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

0.9284933853336007

In [23]:
y_pred = lr_pipe.predict(X_test)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/pipeline.py:331: DataConversionWarning: Data with input dtype uint8 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

In [24]:
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, classification_report, confusion_matrix

In [25]:
print(f1_score(y_test, y_pred, average="macro"))
print(precision_score(y_test, y_pred, average="macro"))
print(recall_score(y_test, y_pred, average="macro"))

0.5016300475066449
0.7019798334007088
0.509654404447844

# Alternative way of executing the Lograthmic Model. Lograthmic models don't require scaling.

In [26]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [27]:
print(f"Training Data Score: {logmodel.score(X_train, y_train)}")
print(f"Testing Data Score: {logmodel.score(X_test, y_test)}")

Training Data Score: 0.9285252451802611
Testing Data Score: 0.9284991416598574

In [28]:
predictions = logmodel.predict(X_test)

# 1 - Logistic Model Score

In [29]:
from sklearn.metrics import classification_report
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.48      0.02      0.04      9522
           1       0.93      1.00      0.96    123875

   micro avg       0.93      0.93      0.93    133397
   macro avg       0.71      0.51      0.50    133397
weighted avg       0.90      0.93      0.90    133397

In [30]:
df4 = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

In [31]:
df4.head(10)

   Prediction  Actual
0           1       1
1           1       1
2           1       1
3           1       1
4           1       1
5           1       1
6           1       1
7           1       1
8           1       1
9           1       1

# Statistical Testing of the model for significance of independedent variables

In [32]:
import numpy as np
from sklearn import datasets, linear_model
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm # conda install statsmodels - if there is an error
from scipy import stats



X2 = sm.add_constant(X_train)
est = sm.OLS(y_train, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 status   R-squared:                       0.084
Model:                            OLS   Adj. R-squared:                  0.083
Method:                 Least Squares   F-statistic:                     195.3
Date:                Sat, 20 Oct 2018   Prob (F-statistic):               0.00
Time:                        12:16:35   Log-Likelihood:                -9967.8
No. Observations:              533587   AIC:                         2.044e+04
Df Residuals:                  533336   BIC:                         2.325e+04
Df Model:                         250
Covariance Type:            nonrobust
================================================================================================================
                                                   coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------------
const                                        -4.614e+10   8.92e+10     -0.517      0.605   -2.21e+11    1.29e+11
activity_Adult Care                           9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Agriculture                         -7.017e+09   5.66e+09     -1.240      0.215   -1.81e+10    4.07e+09
activity_Air Conditioning                     9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Animal Sales                        -7.017e+09   5.66e+09     -1.240      0.215   -1.81e+10    4.07e+09
activity_Aquaculture                         -7.017e+09   5.66e+09     -1.240      0.215   -1.81e+10    4.07e+09
activity_Arts                                 5.612e+10   2.97e+10      1.887      0.059   -2.17e+09    1.14e+11
activity_Auto Repair                          9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Bakery                              -1.864e+09   5.94e+09     -0.314      0.754   -1.35e+10    9.78e+09
activity_Balut-Making                        -1.864e+09   5.94e+09     -0.314      0.754   -1.35e+10    9.78e+09
activity_Barber Shop                          9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Beauty Salon                         9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Beekeeping                          -7.017e+09   5.66e+09     -1.240      0.215   -1.81e+10    4.07e+09
activity_Beverages                           -1.864e+09   5.94e+09     -0.314      0.754   -1.35e+10    9.78e+09
activity_Bicycle Repair                       9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Bicycle Sales                        1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Blacksmith                          -2.232e+10   5.09e+10     -0.438      0.661   -1.22e+11    7.75e+10
activity_Bookbinding                          9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Bookstore                            1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Bricks                              -6.238e+09   2.76e+10     -0.226      0.821   -6.03e+10    4.79e+10
activity_Butcher Shop                        -1.864e+09   5.94e+09     -0.314      0.754   -1.35e+10    9.78e+09
activity_Cafe                                -1.864e+09   5.94e+09     -0.314      0.754   -1.35e+10    9.78e+09
activity_Call Center                          9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Carpentry                           -6.238e+09   2.76e+10     -0.226      0.821   -6.03e+10    4.79e+10
activity_Catering                            -1.864e+09   5.94e+09     -0.314      0.754   -1.35e+10    9.78e+09
activity_Cattle                              -7.017e+09   5.66e+09     -1.240      0.215   -1.81e+10    4.07e+09
activity_Celebrations                        -1.356e+10   3.51e+10     -0.387      0.699   -8.23e+10    5.52e+10
activity_Cement                              -6.238e+09   2.76e+10     -0.226      0.821   -6.03e+10    4.79e+10
activity_Cereals                             -1.864e+09   5.94e+09     -0.314      0.754   -1.35e+10    9.78e+09
activity_Charcoal Sales                       1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Cheese Making                       -1.864e+09   5.94e+09     -0.314      0.754   -1.35e+10    9.78e+09
activity_Child Care                           9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Cleaning Services                    9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Cloth & Dressmaking Supplies         1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Clothing                            -5.424e+09   1.52e+10     -0.356      0.722   -3.53e+10    2.44e+10
activity_Clothing Sales                      -5.424e+09   1.52e+10     -0.356      0.722   -3.53e+10    2.44e+10
activity_Cobbler                              9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Communications                       9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Computer                            -1.684e+10   3.87e+10     -0.436      0.663   -9.26e+10    5.89e+10
activity_Computers                            9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Construction                        -6.238e+09   2.76e+10     -0.226      0.821   -6.03e+10    4.79e+10
activity_Construction Supplies               -6.238e+09   2.76e+10     -0.226      0.821   -6.03e+10    4.79e+10
activity_Consumer Goods                      -1.356e+10   3.51e+10     -0.387      0.699   -8.23e+10    5.52e+10
activity_Cosmetics Sales                      1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Crafts                               5.612e+10   2.97e+10      1.887      0.059   -2.17e+09    1.14e+11
activity_Dairy                               -7.017e+09   5.66e+09     -1.240      0.215   -1.81e+10    4.07e+09
activity_Decorations Sales                    1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Dental                               1.365e+09   3.88e+09      0.351      0.725   -6.25e+09    8.98e+09
activity_Education provider                  -1.684e+10   3.87e+10     -0.436      0.663   -9.26e+10    5.89e+10
activity_Electrical Goods                     1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Electrician                          9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Electronics Repair                   9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Electronics Sales                    1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Embroidery                           5.612e+10   2.97e+10      1.887      0.059   -2.17e+09    1.14e+11
activity_Energy                               9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Entertainment                        3.372e+09    8.8e+09      0.383      0.702   -1.39e+10    2.06e+10
activity_Event Planning                       9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Farm Supplies                       -7.017e+09   5.66e+09     -1.240      0.215   -1.81e+10    4.07e+09
activity_Farming                             -7.017e+09   5.66e+09     -1.240      0.215   -1.81e+10    4.07e+09
activity_Film                                 5.612e+10   2.97e+10      1.887      0.059   -2.17e+09    1.14e+11
activity_Fish Selling                        -1.864e+09   5.94e+09     -0.314      0.754   -1.35e+10    9.78e+09
activity_Fishing                             -1.864e+09   5.94e+09     -0.314      0.754   -1.35e+10    9.78e+09
activity_Florist                              1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Flowers                             -7.017e+09   5.66e+09     -1.240      0.215   -1.81e+10    4.07e+09
activity_Food                                -1.864e+09   5.94e+09     -0.314      0.754   -1.35e+10    9.78e+09
activity_Food Market                         -1.864e+09   5.94e+09     -0.314      0.754   -1.35e+10    9.78e+09
activity_Food Production/Sales               -1.864e+09   5.94e+09     -0.314      0.754   -1.35e+10    9.78e+09
activity_Food Stall                          -1.864e+09   5.94e+09     -0.314      0.754   -1.35e+10    9.78e+09
activity_Fruits & Vegetables                 -1.864e+09   5.94e+09     -0.314      0.754   -1.35e+10    9.78e+09
activity_Fuel/Firewood                        1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Funerals                            -1.356e+10   3.51e+10     -0.387      0.699   -8.23e+10    5.52e+10
activity_Furniture Making                    -2.232e+10   5.09e+10     -0.438      0.661   -1.22e+11    7.75e+10
activity_Games                                3.372e+09    8.8e+09      0.383      0.702   -1.39e+10    2.06e+10
activity_General Store                        1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Goods Distribution                   3.431e+09    7.9e+09      0.434      0.664   -1.21e+10    1.89e+10
activity_Grocery Store                       -1.864e+09   5.94e+09     -0.314      0.754   -1.35e+10    9.78e+09
activity_Hardware                             1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Health                               1.365e+09   3.88e+09      0.351      0.725   -6.25e+09    8.98e+09
activity_Higher education costs              -1.684e+10   3.87e+10     -0.436      0.663   -9.26e+10    5.89e+10
activity_Home Appliances                     -1.356e+10   3.51e+10     -0.387      0.699   -8.23e+10    5.52e+10
activity_Home Energy                         -1.356e+10   3.51e+10     -0.387      0.699   -8.23e+10    5.52e+10
activity_Home Products Sales                  1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Hotel                                9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Internet Cafe                        9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Jewelry                              1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Knitting                             5.612e+10   2.97e+10      1.887      0.059   -2.17e+09    1.14e+11
activity_Land Rental                         -7.017e+09   5.66e+09     -1.240      0.215   -1.81e+10    4.07e+09
activity_Landscaping / Gardening              9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Laundry                              9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Liquor Store / Off-License          -1.864e+09   5.94e+09     -0.314      0.754   -1.35e+10    9.78e+09
activity_Livestock                           -7.017e+09   5.66e+09     -1.240      0.215   -1.81e+10    4.07e+09
activity_Machine Shop                        -2.232e+10   5.09e+10     -0.438      0.661   -1.22e+11    7.75e+10
activity_Machinery Rental                     9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Manufacturing                       -2.232e+10   5.09e+10     -0.438      0.661   -1.22e+11    7.75e+10
activity_Medical Clinic                       1.365e+09   3.88e+09      0.351      0.725   -6.25e+09    8.98e+09
activity_Metal Shop                          -2.232e+10   5.09e+10     -0.438      0.661   -1.22e+11    7.75e+10
activity_Milk Sales                          -1.864e+09   5.94e+09     -0.314      0.754   -1.35e+10    9.78e+09
activity_Mobile Phones                        1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Mobile Transactions                  9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Motorcycle Repair                    9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Motorcycle Transport                 3.397e+09   9.04e+09      0.376      0.707   -1.43e+10    2.11e+10
activity_Movie Tapes & DVDs                   1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Music Discs & Tapes                  1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Musical Instruments                  5.612e+10   2.97e+10      1.887      0.059   -2.17e+09    1.14e+11
activity_Musical Performance                  3.372e+09    8.8e+09      0.383      0.702   -1.39e+10    2.06e+10
activity_Natural Medicines                    1.365e+09   3.88e+09      0.351      0.725   -6.25e+09    8.98e+09
activity_Office Supplies                      1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Paper Sales                          1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Party Supplies                       1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Patchwork                            5.612e+10   2.97e+10      1.887      0.059   -2.17e+09    1.14e+11
activity_Perfumes                             1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Personal Care Products              -2.232e+10   5.09e+10     -0.438      0.661   -1.22e+11    7.75e+10
activity_Personal Expenses                   -1.356e+10   3.51e+10     -0.387      0.699   -8.23e+10    5.52e+10
activity_Personal Housing Expenses           -1.891e+10   4.48e+10     -0.422      0.673   -1.07e+11    6.89e+10
activity_Personal Medical Expenses            1.365e+09   3.88e+09      0.351      0.725   -6.25e+09    8.98e+09
activity_Personal Products Sales              1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Pharmacy                             1.365e+09   3.88e+09      0.351      0.725   -6.25e+09    8.98e+09
activity_Phone Accessories                    1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Phone Repair                         9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Phone Use Sales                      1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Photography                          9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Pigs                                -7.017e+09   5.66e+09     -1.240      0.215   -1.81e+10    4.07e+09
activity_Plastics Sales                       1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Poultry                             -7.017e+09   5.66e+09     -1.240      0.215   -1.81e+10    4.07e+09
activity_Primary/secondary school costs      -1.684e+10   3.87e+10     -0.436      0.663   -9.26e+10    5.89e+10
activity_Printing                             9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Property                            -1.891e+10   4.48e+10     -0.422      0.673   -1.07e+11    6.89e+10
activity_Pub                                 -1.864e+09   5.94e+09     -0.314      0.754   -1.35e+10    9.78e+09
activity_Quarrying                           -6.238e+09   2.76e+10     -0.226      0.821   -6.03e+10    4.79e+10
activity_Recycled Materials                   1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Recycling                            9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Religious Articles                   1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Renewable Energy Products            1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Restaurant                          -1.864e+09   5.94e+09     -0.314      0.754   -1.35e+10    9.78e+09
activity_Retail                               1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Rickshaw                             3.397e+09   9.04e+09      0.376      0.707   -1.43e+10    2.11e+10
activity_Secretarial Services                 9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Services                             9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Sewing                               9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Shoe Sales                           1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Souvenir Sales                       1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Spare Parts                          1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Sporting Good Sales                  1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Tailoring                            9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Taxi                                 3.397e+09   9.04e+09      0.376      0.707   -1.43e+10    2.11e+10
activity_Technology                           9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Textiles                             5.612e+10   2.97e+10      1.887      0.059   -2.17e+09    1.14e+11
activity_Timber Sales                        -6.238e+09   2.76e+10     -0.226      0.821   -6.03e+10    4.79e+10
activity_Tourism                              9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Transportation                       3.397e+09   9.04e+09      0.376      0.707   -1.43e+10    2.11e+10
activity_Traveling Sales                      1.506e+10   1.74e+10      0.864      0.387   -1.91e+10    4.92e+10
activity_Upholstery                           9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Used Clothing                       -5.424e+09   1.52e+10     -0.356      0.722   -3.53e+10    2.44e+10
activity_Used Shoes                          -5.424e+09   1.52e+10     -0.356      0.722   -3.53e+10    2.44e+10
activity_Utilities                            9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Vehicle                             -1.356e+10   3.51e+10     -0.387      0.699   -8.23e+10    5.52e+10
activity_Vehicle Repairs                      9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Veterinary Sales                    -7.017e+09   5.66e+09     -1.240      0.215   -1.81e+10    4.07e+09
activity_Waste Management                     9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Water Distribution                   9.037e+09   1.78e+10      0.508      0.612   -2.59e+10    4.39e+10
activity_Weaving                              5.612e+10   2.97e+10      1.887      0.059   -2.17e+09    1.14e+11
activity_Wedding Expenses                    -1.356e+10   3.51e+10     -0.387      0.699   -8.23e+10    5.52e+10
activity_Well digging                        -6.238e+09   2.76e+10     -0.226      0.821   -6.03e+10    4.79e+10
activity_Wholesale                            3.431e+09    7.9e+09      0.434      0.664   -1.21e+10    1.89e+10
sector_Agriculture                            2.031e+10   3.39e+10      0.600      0.549   -4.61e+10    8.67e+10
sector_Arts                                  -4.283e+10   4.33e+10     -0.989      0.323   -1.28e+11    4.21e+10
sector_Clothing                               1.872e+10   3.68e+10      0.509      0.611   -5.34e+10    9.08e+10

In [33]:
X2 = sm.add_constant(X_test)
est = sm.OLS(y_test, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 status   R-squared:                       0.083
Model:                            OLS   Adj. R-squared:                  0.081
Method:                 Least Squares   F-statistic:                     50.06
Date:                Sat, 20 Oct 2018   Prob (F-statistic):               0.00
Time:                        12:16:38   Log-Likelihood:                -2492.5
No. Observations:              133397   AIC:                             5469.
Df Residuals:                  133155   BIC:                             7841.
Df Model:                         241
Covariance Type:            nonrobust
================================================================================================================
                                                   coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------------
const                                        -6.409e+09   5.18e+09     -1.238      0.216   -1.66e+10    3.73e+09
activity_Adult Care                          -2.443e+09   1.16e+09     -2.099      0.036   -4.72e+09   -1.62e+08
activity_Agriculture                         -3.208e+10   8.55e+10     -0.375      0.708      -2e+11    1.36e+11
activity_Air Conditioning                     3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Animal Sales                        -3.208e+10   8.55e+10     -0.375      0.708      -2e+11    1.36e+11
activity_Aquaculture                         -3.208e+10   8.55e+10     -0.375      0.708      -2e+11    1.36e+11
activity_Arts                                 1.171e+11   6.31e+10      1.858      0.063   -6.44e+09    2.41e+11
activity_Auto Repair                          3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Bakery                              -7.361e+10   4.94e+10     -1.489      0.137   -1.71e+11    2.33e+10
activity_Balut-Making                        -7.361e+10   4.94e+10     -1.489      0.137   -1.71e+11    2.33e+10
activity_Barber Shop                          3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Beauty Salon                         3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Beekeeping                          -3.208e+10   8.55e+10     -0.375      0.708      -2e+11    1.36e+11
activity_Beverages                           -7.361e+10   4.94e+10     -1.489      0.137   -1.71e+11    2.33e+10
activity_Bicycle Repair                       3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Bicycle Sales                         2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Blacksmith                           7.126e+10   3.88e+10      1.837      0.066   -4.77e+09    1.47e+11
activity_Bookbinding                          3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Bookstore                             2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Bricks                               1.389e+11   7.53e+10      1.846      0.065   -8.59e+09    2.86e+11
activity_Butcher Shop                        -7.361e+10   4.94e+10     -1.489      0.137   -1.71e+11    2.33e+10
activity_Cafe                                -7.361e+10   4.94e+10     -1.489      0.137   -1.71e+11    2.33e+10
activity_Call Center                          3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Carpentry                            1.389e+11   7.53e+10      1.846      0.065   -8.59e+09    2.86e+11
activity_Catering                            -7.361e+10   4.94e+10     -1.489      0.137   -1.71e+11    2.33e+10
activity_Cattle                              -3.208e+10   8.55e+10     -0.375      0.708      -2e+11    1.36e+11
activity_Celebrations                         1.029e+10   6.21e+09      1.657      0.097   -1.88e+09    2.24e+10
activity_Cement                               1.389e+11   7.53e+10      1.846      0.065   -8.59e+09    2.86e+11
activity_Cereals                             -7.361e+10   4.94e+10     -1.489      0.137   -1.71e+11    2.33e+10
activity_Charcoal Sales                        2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Cheese Making                       -7.361e+10   4.94e+10     -1.489      0.137   -1.71e+11    2.33e+10
activity_Child Care                           3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Cleaning Services                    3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Cloth & Dressmaking Supplies          2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Clothing                             1.707e+10   8.61e+10      0.198      0.843   -1.52e+11    1.86e+11
activity_Clothing Sales                       1.707e+10   8.61e+10      0.198      0.843   -1.52e+11    1.86e+11
activity_Cobbler                              3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Communications                       3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Computer                              -1.1e+11   1.74e+11     -0.632      0.527   -4.51e+11    2.31e+11
activity_Computers                            3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Construction                         1.389e+11   7.53e+10      1.846      0.065   -8.59e+09    2.86e+11
activity_Construction Supplies                1.389e+11   7.53e+10      1.846      0.065   -8.59e+09    2.86e+11
activity_Consumer Goods                       1.029e+10   6.21e+09      1.657      0.097   -1.88e+09    2.24e+10
activity_Cosmetics Sales                       2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Crafts                               1.171e+11   6.31e+10      1.858      0.063   -6.44e+09    2.41e+11
activity_Dairy                               -3.208e+10   8.55e+10     -0.375      0.708      -2e+11    1.36e+11
activity_Decorations Sales                     2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Dental                              -3.386e+09   2.68e+09     -1.263      0.206   -8.64e+09    1.87e+09
activity_Education provider                    -1.1e+11   1.74e+11     -0.632      0.527   -4.51e+11    2.31e+11
activity_Electrical Goods                      2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Electrician                          3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Electronics Repair                   3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Electronics Sales                     2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Embroidery                           1.171e+11   6.31e+10      1.858      0.063   -6.44e+09    2.41e+11
activity_Energy                               3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Entertainment                        1.806e+10   9.89e+09      1.826      0.068   -1.32e+09    3.74e+10
activity_Event Planning                       3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Farm Supplies                       -3.208e+10   8.55e+10     -0.375      0.708      -2e+11    1.36e+11
activity_Farming                             -3.208e+10   8.55e+10     -0.375      0.708      -2e+11    1.36e+11
activity_Film                                 1.171e+11   6.31e+10      1.858      0.063   -6.44e+09    2.41e+11
activity_Fish Selling                        -7.361e+10   4.94e+10     -1.489      0.137   -1.71e+11    2.33e+10
activity_Fishing                             -7.361e+10   4.94e+10     -1.489      0.137   -1.71e+11    2.33e+10
activity_Florist                               2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Flowers                             -3.208e+10   8.55e+10     -0.375      0.708      -2e+11    1.36e+11
activity_Food                                -7.361e+10   4.94e+10     -1.489      0.137   -1.71e+11    2.33e+10
activity_Food Market                         -7.361e+10   4.94e+10     -1.489      0.137   -1.71e+11    2.33e+10
activity_Food Production/Sales               -7.361e+10   4.94e+10     -1.489      0.137   -1.71e+11    2.33e+10
activity_Food Stall                          -7.361e+10   4.94e+10     -1.489      0.137   -1.71e+11    2.33e+10
activity_Fruits & Vegetables                 -7.361e+10   4.94e+10     -1.489      0.137   -1.71e+11    2.33e+10
activity_Fuel/Firewood                         2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Funerals                             1.029e+10   6.21e+09      1.657      0.097   -1.88e+09    2.24e+10
activity_Furniture Making                     7.126e+10   3.88e+10      1.837      0.066   -4.77e+09    1.47e+11
activity_Games                                1.806e+10   9.89e+09      1.826      0.068   -1.32e+09    3.74e+10
activity_General Store                         2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Goods Distribution                   -4.98e+09    4.7e+09     -1.060      0.289   -1.42e+10    4.22e+09
activity_Grocery Store                       -7.361e+10   4.94e+10     -1.489      0.137   -1.71e+11    2.33e+10
activity_Hardware                              2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Health                              -3.386e+09   2.68e+09     -1.263      0.206   -8.64e+09    1.87e+09
activity_Higher education costs                -1.1e+11   1.74e+11     -0.632      0.527   -4.51e+11    2.31e+11
activity_Home Appliances                      1.029e+10   6.21e+09      1.657      0.097   -1.88e+09    2.24e+10
activity_Home Energy                          1.029e+10   6.21e+09      1.657      0.097   -1.88e+09    2.24e+10
activity_Home Products Sales                   2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Hotel                                3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Internet Cafe                        3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Jewelry                               2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Knitting                             1.171e+11   6.31e+10      1.858      0.063   -6.44e+09    2.41e+11
activity_Land Rental                         -3.208e+10   8.55e+10     -0.375      0.708      -2e+11    1.36e+11
activity_Landscaping / Gardening              3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Laundry                              3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Liquor Store / Off-License          -7.361e+10   4.94e+10     -1.489      0.137   -1.71e+11    2.33e+10
activity_Livestock                           -3.208e+10   8.55e+10     -0.375      0.708      -2e+11    1.36e+11
activity_Machine Shop                         7.126e+10   3.88e+10      1.837      0.066   -4.77e+09    1.47e+11
activity_Machinery Rental                     3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Manufacturing                        7.126e+10   3.88e+10      1.837      0.066   -4.77e+09    1.47e+11
activity_Medical Clinic                      -3.386e+09   2.68e+09     -1.263      0.206   -8.64e+09    1.87e+09
activity_Metal Shop                           7.126e+10   3.88e+10      1.837      0.066   -4.77e+09    1.47e+11
activity_Milk Sales                          -7.361e+10   4.94e+10     -1.489      0.137   -1.71e+11    2.33e+10
activity_Mobile Phones                         2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Mobile Transactions                  3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Motorcycle Repair                    3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Motorcycle Transport                -3.828e+09   3.07e+09     -1.247      0.212   -9.85e+09    2.19e+09
activity_Movie Tapes & DVDs                    2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Music Discs & Tapes                   2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Musical Instruments                  1.171e+11   6.31e+10      1.858      0.063   -6.44e+09    2.41e+11
activity_Musical Performance                  1.806e+10   9.89e+09      1.826      0.068   -1.32e+09    3.74e+10
activity_Natural Medicines                   -3.386e+09   2.68e+09     -1.263      0.206   -8.64e+09    1.87e+09
activity_Office Supplies                       2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Paper Sales                           2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Party Supplies                        2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Patchwork                            1.171e+11   6.31e+10      1.858      0.063   -6.44e+09    2.41e+11
activity_Perfumes                              2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Personal Care Products               7.126e+10   3.88e+10      1.837      0.066   -4.77e+09    1.47e+11
activity_Personal Expenses                    1.029e+10   6.21e+09      1.657      0.097   -1.88e+09    2.24e+10
activity_Personal Housing Expenses             1.09e+10   6.61e+09      1.648      0.099   -2.06e+09    2.39e+10
activity_Personal Medical Expenses           -3.386e+09   2.68e+09     -1.263      0.206   -8.64e+09    1.87e+09
activity_Personal Products Sales               2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Pharmacy                            -3.386e+09   2.68e+09     -1.263      0.206   -8.64e+09    1.87e+09
activity_Phone Accessories                     2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Phone Repair                         3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Phone Use Sales                       2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Photography                          3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Pigs                                -3.208e+10   8.55e+10     -0.375      0.708      -2e+11    1.36e+11
activity_Plastics Sales                        2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Poultry                             -3.208e+10   8.55e+10     -0.375      0.708      -2e+11    1.36e+11
activity_Primary/secondary school costs        -1.1e+11   1.74e+11     -0.632      0.527   -4.51e+11    2.31e+11
activity_Printing                             3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Property                              1.09e+10   6.61e+09      1.648      0.099   -2.06e+09    2.39e+10
activity_Pub                                 -7.361e+10   4.94e+10     -1.489      0.137   -1.71e+11    2.33e+10
activity_Quarrying                            1.389e+11   7.53e+10      1.846      0.065   -8.59e+09    2.86e+11
activity_Recycled Materials                    2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Recycling                            3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Religious Articles                    2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Renewable Energy Products             2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Restaurant                          -7.361e+10   4.94e+10     -1.489      0.137   -1.71e+11    2.33e+10
activity_Retail                                2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Rickshaw                            -3.828e+09   3.07e+09     -1.247      0.212   -9.85e+09    2.19e+09
activity_Secretarial Services                 3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Services                             3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Sewing                               3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Shoe Sales                            2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Souvenir Sales                        2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Spare Parts                           2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Sporting Good Sales                   2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Tailoring                            3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Taxi                                -3.828e+09   3.07e+09     -1.247      0.212   -9.85e+09    2.19e+09
activity_Technology                           3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Textiles                             1.171e+11   6.31e+10      1.858      0.063   -6.44e+09    2.41e+11
activity_Timber Sales                         1.389e+11   7.53e+10      1.846      0.065   -8.59e+09    2.86e+11
activity_Tourism                              3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Transportation                      -3.828e+09   3.07e+09     -1.247      0.212   -9.85e+09    2.19e+09
activity_Traveling Sales                       2.07e+10   1.12e+10      1.850      0.064   -1.23e+09    4.26e+10
activity_Upholstery                           3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Used Clothing                        1.707e+10   8.61e+10      0.198      0.843   -1.52e+11    1.86e+11
activity_Used Shoes                           1.707e+10   8.61e+10      0.198      0.843   -1.52e+11    1.86e+11
activity_Utilities                            3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Vehicle                              1.029e+10   6.21e+09      1.657      0.097   -1.88e+09    2.24e+10
activity_Vehicle Repairs                      3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Veterinary Sales                    -3.208e+10   8.55e+10     -0.375      0.708      -2e+11    1.36e+11
activity_Waste Management                     3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Water Distribution                   3.817e+10   2.08e+10      1.839      0.066   -2.52e+09    7.89e+10
activity_Weaving                              1.171e+11   6.31e+10      1.858      0.063   -6.44e+09    2.41e+11
activity_Wedding Expenses                     1.029e+10   6.21e+09      1.657      0.097   -1.88e+09    2.24e+10
activity_Well digging                         1.389e+11   7.53e+10      1.846      0.065   -8.59e+09    2.86e+11
activity_Wholesale                            -4.98e+09    4.7e+09     -1.060      0.289   -1.42e+10    4.22e+09
sector_Agriculture                            8.282e+09   8.17e+10      0.101      0.919   -1.52e+11    1.68e+11
sector_Arts                                  -1.409e+11   7.75e+10     -1.819      0.069   -2.93e+11    1.09e+10
sector_Clothing                              -4.087e+10   8.14e+10     -0.502      0.616      -2e+11    1.19e+11

/anaconda3/envs/PythonData/lib/python3.6/site-packages/statsmodels/base/model.py:1100: RuntimeWarning: invalid value encountered in true_divide
  return self.params / self.bse
/anaconda3/envs/PythonData/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
/anaconda3/envs/PythonData/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
/anaconda3/envs/PythonData/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:1821: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

In [34]:
df_activity = df[['status', 'activity']]
df_activity = df_activity.dropna()
df_activity.head()

   status             activity
0       1  Fruits & Vegetables
1       1             Rickshaw
2       1       Transportation
3       1           Embroidery
4       1           Milk Sales

In [35]:
df_activity.shape

(671205, 2)

In [36]:
df_activity = pd.get_dummies(df_activity)
df_activity.head()

,status,activity_Adult Care,activity_Agriculture,activity_Air Conditioning,activity_Animal Sales,activity_Aquaculture,activity_Arts,activity_Auto Repair,activity_Bakery,activity_Balut-Making,...,activity_Utilities,activity_Vehicle,activity_Vehicle Repairs,activity_Veterinary Sales,activity_Waste Management,activity_Water Distribution,activity_Weaving,activity_Wedding Expenses,activity_Well digging,activity_Wholesale
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
X = df_activity.drop(['status'], axis=1)
y = df_activity['status']

In [38]:
lm = LogisticRegression()
lm.fit(X,y)
params = np.append(lm.intercept_,lm.coef_)
predictions = lm.predict(X)

params = np.round(params,4)

myDF3 = pd.DataFrame()
index = [0]
params = np.delete(params, index)

myDF3["Activity_Feature_Name"],myDF3["Activity_Coefficients"] = [X.columns,params]
print(myDF3)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

             Activity_Feature_Name  Activity_Coefficients
0              activity_Adult Care                 0.0798
1             activity_Agriculture                -0.5987
2        activity_Air Conditioning                -0.0285
3            activity_Animal Sales                -0.2070
4             activity_Aquaculture                -0.5387
5                    activity_Arts                 0.5732
6             activity_Auto Repair                -1.1636
7                  activity_Bakery                -0.0646
8            activity_Balut-Making                 1.1045
9             activity_Barber Shop                -0.9150
10           activity_Beauty Salon                -0.6690
11             activity_Beekeeping                -0.0949
12              activity_Beverages                -0.6162
13         activity_Bicycle Repair                 1.6725
14          activity_Bicycle Sales                 1.0377
15             activity_Blacksmith                 1.6599
16            activity_Bookbinding                 0.7261
17              activity_Bookstore                 0.3796
18                 activity_Bricks                 1.2351
19           activity_Butcher Shop                -0.9136
20                   activity_Cafe                -0.7338
21            activity_Call Center                 1.2134
22              activity_Carpentry                 1.1496
23               activity_Catering                -0.2209
24                 activity_Cattle                -0.9719
25           activity_Celebrations                 0.1862
26                 activity_Cement                 0.1326
27                activity_Cereals                -0.2651
28         activity_Charcoal Sales                 0.2514
29          activity_Cheese Making                 0.6716
..                             ...                    ...
133                activity_Retail                -0.6709
134              activity_Rickshaw                -0.6277
135  activity_Secretarial Services                 1.3208
136              activity_Services                -1.1439
137                activity_Sewing                 0.5733
138            activity_Shoe Sales                -0.8364
139        activity_Souvenir Sales                -0.2213
140           activity_Spare Parts                -1.2094
141   activity_Sporting Good Sales                 0.5227
142             activity_Tailoring                 0.1124
143                  activity_Taxi                -1.1559
144            activity_Technology                -3.2376
145              activity_Textiles                 2.2166
146          activity_Timber Sales                 1.1111
147               activity_Tourism                -0.5388
148        activity_Transportation                -0.8138
149       activity_Traveling Sales                -0.3532
150            activity_Upholstery                 0.3528
151         activity_Used Clothing                -0.0420
152            activity_Used Shoes                 0.3625
153             activity_Utilities                -0.2742
154               activity_Vehicle                -1.3204
155       activity_Vehicle Repairs                -1.1383
156      activity_Veterinary Sales                 0.8088
157      activity_Waste Management                 1.8099
158    activity_Water Distribution                 0.8045
159               activity_Weaving                 2.8238
160      activity_Wedding Expenses                -1.9410
161          activity_Well digging                 0.9056
162             activity_Wholesale                 0.5194

[163 rows x 2 columns]

In [88]:
keys = [i.replace('activity_', '') for i in df_activity.columns[1:]]
activity_features = dict(zip(keys, myDF3.Activity_Coefficients.values))

activity_coef = [activity_features[i] for i in df.activity.values]
df['activity_coef'] = activity_coef
df

,id,date,activity,sector,use,funded_amount,loan_amount,diff_funded_loan,status,country_code,country,currency,gender,borrower_genders,lender_count,term_in_months,repayment_interval,tags,activity_coef
0,653051,1/1/14,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",300,300,0,1,PK,Pakistan,PKR,female,female,12,12,irregular,NaN,0.1499
1,653053,1/1/14,Rickshaw,Transportation,to repair and maintain the auto rickshaw used ...,575,575,0,1,PK,Pakistan,PKR,group,"female, female",14,11,irregular,NaN,-0.6277
2,653068,1/1/14,Transportation,Transportation,To repair their old cycle-van and buy another ...,150,150,0,1,IN,India,INR,female,female,6,43,bullet,"user_favorite, user_favorite",-0.8138
3,653063,1/1/14,Embroidery,Arts,to purchase an embroidery machine and a variet...,200,200,0,1,PK,Pakistan,PKR,female,female,8,11,irregular,NaN,0.6553
4,653084,1/1/14,Milk Sales,Food,to purchase one buffalo.,400,400,0,1,PK,Pakistan,PKR,female,female,16,14,monthly,NaN,0.2808
5,1080148,1/1/14,Services,Services,purchase leather for my business using ksh 20000.,250,250,0,1,KE,Kenya,KES,female,female,6,4,irregular,NaN,-1.1439
6,653067,1/1/14,Dairy,Agriculture,To purchase a dairy cow and start a milk produ...,200,200,0,1,IN,India,INR,female,female,8,43,bullet,"user_favorite, user_favorite",0.0652
7,653078,1/1/14,Beauty Salon,Services,to buy more hair and skin care products.,400,400,0,1,PK,Pakistan,PKR,female,female,8,14,monthly,"#Elderly, #Woman Owned Biz",-0.6690
8,653082,1/1/14,Manufacturing,Manufacturing,"to purchase leather, plastic soles and heels i...",475,475,0,1,PK,Pakistan,PKR,female,female,19,14,monthly,user_favorite,2.2688
9,653048,1/1/14,Food Production/Sales,Food,"to buy a stall, gram flour, ketchup, and coal ...",625,625,0,1,PK,Pakistan,PKR,female,female,24,11,irregular,NaN,-0.1404
10,653060,1/1/14,Rickshaw,Transportation,to cover the cost of repairing rickshaw,200,200,0,1,PK,Pakistan,PKR,female,female,3,11,irregular,NaN,-0.6277
11,653088,1/1/14,Wholesale,Wholesale,"to purchase biscuits, sweets and juices in bulk.",400,400,0,1,PK,Pakistan,PKR,female,female,16,14,monthly,NaN,0.5194
12,653089,1/1/14,General Store,Retail,"to buy stock of rice, sugar and flour .",400,400,0,1,PK,Pakistan,PKR,female,female,16,14,monthly,"#Repeat Borrower, #Woman Owned Biz",-0.2660
13,653062,1/1/14,Clothing Sales,Clothing,to purchase variety of winter clothes to sell.,400,400,0,1,PK,Pakistan,PKR,female,female,10,12,irregular,NaN,-0.7279
14,653075,1/1/14,Poultry,Agriculture,to expand her existing poultry farm business.,225,225,0,1,IN,India,INR,female,female,7,43,bullet,user_favorite,0.0267
15,653054,1/1/14,Rickshaw,Transportation,to buy a three-wheeled rickshaw.,300,300,0,1,PK,Pakistan,PKR,female,female,9,11,irregular,NaN,-0.6277
16,653091,1/1/14,General Store,Retail,"to buy packs of salts, biscuits and beverages.",400,400,0,1,PK,Pakistan,PKR,female,female,11,14,monthly,"#Woman Owned Biz, #Parent",-0.2660
17,653052,1/1/14,Tailoring,Services,"To buy a sewing machine, lace, zippers and but...",875,875,0,1,PK,Pakistan,PKR,group,"female, female, female",25,11,irregular,NaN,0.1124
18,653066,1/1/14,Sewing,Services,to purchase a sewing machine.,250,250,0,1,IN,India,INR,female,female,4,43,bullet,"user_favorite, user_favorite",0.5733
19,653080,1/1/14,Beauty Salon,Services,to buy more cosmetics products for her beauty ...,475,475,0,1,PK,Pakistan,PKR,female,female,18,14,monthly,#Woman Owned Biz,-0.6690
20,653065,1/1/14,Bakery,Food,to buy ingredients to make bakery products.,250,250,0,1,PK,Pakistan,PKR,female,female,10,11,irregular,NaN,-0.0646
21,653055,1/1/14,Restaurant,Food,"to purchase vegetables, chicken, and oil to co...",350,350,0,1,PK,Pakistan,PKR,female,female,13,12,irregular,NaN,-0.4860
22,653050,1/1/14,Clothing Sales,Clothing,To buy winter clothing to sell,575,575,0,1,PK,Pakistan,PKR,group,"female, female",20,12,irregular,NaN,-0.7279
23,653079,1/1/14,Embroidery,Arts,to buy reels of threads in different colors an...,350,350,0,1,PK,Pakistan,PKR,female,female,6,14,monthly,NaN,0.6553
24,653061,1/1/14,Food Stall,Food,to purchase a variety of needed food items to ...,250,250,0,1,PK,Pakistan,PKR,female,female,7,11,irregular,NaN,-0.0191
25,653074,1/1/14,Farming,Agriculture,to purchase potato seeds and fertilizers for g...,250,250,0,1,IN,India,INR,female,female,9,43,bullet,NaN,-0.4872
26,653069,1/1/14,Construction Supplies,Construction,to purchase stones for starting a business sup...,250,250,0,1,IN,India,INR,female,female,10,43,bullet,"user_favorite, user_favorite",0.0162
27,653056,1/1/14,Rickshaw,Transportation,to cover the cost of repairing rickshaw,475,475,0,1,PK,Pakistan,PKR,female,female,17,12,irregular,NaN,-0.6277
28,653071,1/1/14,Farming,Agriculture,to purchase potato seeds and fertilizers for g...,125,125,0,1,IN,India,INR,female,female,5,43,bullet,NaN,-0.4872
29,653073,1/1/14,Farming,Agriculture,to purchase potato seeds and fertilizer for fa...,250,250,0,1,IN,India,INR,female,female,10,43,bullet,NaN,-0.4872
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671175,1340274,7/21/17,Livestock,Agriculture,Pretend the flagged issue was addressed by KC.,75,125,-50,0,MX,Mexico,MXN,group,"female, female",3,13,monthly,NaN,-0.7791
671176,1340259,7/21/17,Livestock,Agriculture,Edited loan use in english.,0,50,-50,0,GH,Ghana,GHS,group,"female, female",0,13,monthly,NaN,-0.7791
671177,1340279,7/22/17,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",25,25,0,1,KE,Kenya,KES,female,female,1,13,monthly,NaN,-0.7791
671178,1340280,7/22/17,Livestock,Agriculture,NaN,0,25,-25,0,KE,Kenya,KES,NaN,NaN,0,13,monthly,NaN,-0.7791
671179,1340282,7/22/17,Livestock,Agriculture,"[True, u'para compara: cemento, arenya y ladri...",0,25,-25,0,PY,Paraguay,USD,female,female,0,13,monthly,NaN,-0.7791
671180,1340286,7/23/17,Livestock,Agriculture,Translated loan use to english.,0,725,-725,0,BO,Bolivia,BOB,female,female,0,13,monthly,NaN,-0.7791
671181,1340285,7/23/17,Livestock,Agriculture,Reviewed loan use in english.,0,25,-25,0,PK,Pakistan,PKR,female,female,0,13,monthly,NaN,-0.7791
671182,1340292,7/23/17,Livestock,Agriculture,Pretend the flagged issue was addressed by KC.,0,125,-125,0,MX,Mexico,MXN,group,"female, female",0,13,monthly,NaN,-0.7791
671183,1340290,7/23/17,Livestock,Agriculture,Pretend the issue with spanish loan was addres...,0,75,-75,0,MX,Mexico,MXN,female,female,0,13,monthly,NaN,-0.7791
671184,1340287,7/23/17,Livestock,Agriculture,Translated loan use to english.,0,875,-875,0,BO,Bolivia,BOB,group,"female, female",0,13,monthly,NaN,-0.7791
671185,1340298,7/24/17,Livestock,Agriculture,NaN,0,25,-25,0,KE,Kenya,KES,NaN,NaN,0,13,monthly,NaN,-0.7791
671186,1340300,7/24/17,Livestock,Agriculture,"[True, u'para compara: cemento, arenya y ladri...",25,25,0,1,PY,Paraguay,USD,female,female,1,13,monthly,NaN,-0.7791
671187,1340297,7/24/17,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",0,25,-25,0,KE,Kenya,KES,female,female,0,13,monthly,NaN,-0.7791
671188,1340302,7/24/17,Livestock,Agriculture,Reviewed loan use in english.,0,250,-250,0,GH,Ghana,GHS,female,female,0,13,monthly,NaN,-0.7791
671189,1340315,7/25/17,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",0,25,-25,0,KE,Kenya,KES,female,female,0,13,monthly,NaN,-0.7791
671190,1340321,7/25/17,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",0,25,-25,0,KE,Kenya,KES,female,female,0,13,monthly,NaN,-0.7791
671191,1340327,7/25/17,Livestock,Agriculture,Translated loan use to english.,0,725,-725,0,BO,Bolivia,BOB,female,female,0,13,monthly,NaN,-0.7791
671192,1340328,7/25/17,Livestock,Agriculture,Translated loan use to english.,0,875,-875,0,BO,Bolivia,BOB,group,"female, female",0,13,monthly,NaN,-0.7791
671193,1340333,7/25/17,Livestock,Agriculture,Pretend the flagged issue was addressed by KC.,0,125,-125,0,MX,Mexico,MXN,group,"female, female",0,13,monthly,NaN,-0.7791
671194,1340332,7/25/17,Livestock,Agriculture,Kiva Coordinator fixed issue loan (no longer v...,0,25,-25,0,KE,Kenya,KES,group,"female, female",0,13,monthly,NaN,-0.7791
671195,1340329,7/25/17,Livestock,Agriculture,Edited loan use in english.,0,50,-50,0,GH,Ghana,GHS,group,"female, female",0,13,monthly,NaN,-0.7791
671196,1340325,7/25/17,Livestock,Agriculture,Reviewed loan use in english.,0,250,-250,0,GH,Ghana,GHS,female,female,0,13,monthly,NaN,-0.7791
671197,1340330,7/25/17,Livestock,Agriculture,Pretend the issue with loan got addressed by K...,0,25,-25,0,KE,Kenya,KES,female,female,0,13,monthly,NaN,-0.7791
671198,1340331,7/25/17,Livestock,Agriculture,Pretend the issue with spanish loan was addres...,0,75,-75,0,MX,Mexico,MXN,female,female,0,13,monthly,NaN,-0.7791
671199,1340318,7/25/17,Livestock,Agriculture,"[True, u'para compara: cemento, arenya y ladri...",0,25,-25,0,PY,Paraguay,USD,female,female,0,13,monthly,NaN,-0.7791
671200,1340323,7/25/17,Livestock,Agriculture,"[True, u'para compara: cemento, arenya y ladri...",0,25,-25,0,PY,Paraguay,USD,female,female,0,13,monthly,NaN,-0.7791
671201,1340316,7/25/17,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",25,25,0,1,KE,Kenya,KES,female,female,1,13,monthly,NaN,-0.7791
671202,1340334,7/26/17,Games,Entertainment,NaN,0,25,-25,0,KE,Kenya,KES,NaN,NaN,0,13,monthly,NaN,0.9645
671203,1340338,7/26/17,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",0,25,-25,0,KE,Kenya,KES,female,female,0,13,monthly,NaN,-0.7791
671204,1340339,7/26/17,Livestock,Agriculture,"[True, u'to start a turducken farm.'] - this l...",0,25,-25,0,KE,Kenya,KES,female,female,0,13,monthly,NaN,-0.7791